<% if @articles.blank? %>
<p class="text-center">まだ投稿はありません</p>
<% else %>
<div class="text-center mt-1">
  <h1>全ユーザーの記事一覧</h1>
  
  <%= render "search_form" %>

</div>
<%= render "articles", articles: @articles %>
<% end %>
