<% if @articles.blank? %>
<p class="text-center">まだ投稿はありません</p>
<% else %>
<div class="text-center mt-1">
  <h1>全ユーザーの記事一覧</h1>
  <%= form_tag(search_articles_path,:method => 'get') do %>
  <%= text_field_tag :search,"", placeholder: "記事を検索", size: "30",maxlength: "20",required: true %>
  <%= button_tag '<i class="fas fa-search"></i>'.html_safe, type: 'submit' %>
  <% end %>
</div>
<%= render "articles", articles: @articles %>
<% end %>
