<div class="text-center">
  <p><%= link_to @user.name, user_path(@user) %>のお気に入り一覧</p>
</div>
 <% if @likes.blank? %>
  <p class="text-center">お気に入りしている投稿はありません</p>
<% else %>
  <%= render 'articles/articles', articles: @likes %>
<% end %>