<div class="text-center mt-1">
  <h1>検索結果</h1>
  <p>検索ワード：<%= @search_word %></p>
  <p><%= @users_count %>件</p>
  
  <% if @search_word == "指定なし" %>
  <% @search_word = "" %>
  <% end %>
  
  <%= render "search_form" %>
  
</div>
  <% if @users.blank? %>
  <p class="text-center mt-5">ユーザーが見つかりませんでした</p>
  <% else %>
  <%= render 'users', users: @users %>
  <% end %>