<div class="text-center mt-1">
  <h1>ハッシュタグ一覧</h1>
</div>

<% @hashtags.each do |hashtag| %>
<%= link_to "#"+hashtag.hashname, "/articles/hashtag/"+hashtag.hashname, class: "btn btn-dark"  %>
<% end %>