<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-collapse justify-content-center">
      <a href="#" class="navbar-brand nav-link">Skill Share</a>
    </div>
  </nav>
</header>